body,
p,
h1,
h2,
ul,
input,
textarea {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, 'Microsoft Yahei';
    font-size: .924444rem;
    -webkit-user-select: none;
    color: #333;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

ul {
    list-style: none;
}

h1 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

img {
    vertical-align: top;
    border: none;
    -webkit-touch-callout: none;
}

input {
    vertical-align: top;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
    -webkit-appearance: none;
}

*:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}


/* main */

#goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.417778rem;
    height: 100%;
    background: url('../images/back.png') no-repeat center;
    background-size: auto 1.244444rem;
}

.placeholder {
    height: 3.555556rem;
}


/* main */

#top {
    line-height: 3.555556rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.555556rem;
    text-align: center;
    background: #2e8de6;
}

#top h1 {
    font-size: 1.137778rem;
    color: #fff;
}

#goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.417778rem;
    height: 100%;
    background: url('../images/back.png') no-repeat center;
    background-size: auto 1.244444rem;
}

#content {
    padding: .711111rem .853333rem 0;
}

.file {
    position: relative;
}

#upload {
    font-size: 0;
    position: relative;
    width: 0;
    height: 0;
    margin-bottom: 7.111111rem;
}

#upload:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.111111rem;
    height: 7.111111rem;
    content: '';
    background: #fff url('../images/logo.png') no-repeat;
    background-size: contain;
}

.file p {
    position: absolute;
    top: 1.706667rem;
    right: 0;
    width: 14.933333rem;
    color: #666;
}

#form {
    margin-top: .711111rem;
}

#form li {
    line-height: 2.133333rem;
    position: relative;
    margin-bottom: .711111rem;
    padding-left: .533333rem;
}

#form li:last-child {
    height: 150px;
}

#form input,
textarea {
    font-size: .995556rem;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 19.2rem;
    height: 2.133333rem;
    padding: 0 .711111rem;
    border: 1px solid #b3b3b3;
    border-radius: .355556rem;
}

textarea {
    line-height: 1.5 !important;
    height: 5.333333rem;
    padding: .355556rem .711111rem;
}

.confirm {
    line-height: 2.133333rem;
    width: 14.222222rem;
    height: 2.133333rem;
    margin: 2.133333rem auto 0;
    text-align: center;
    color: #fff;
    border-radius: .355556rem;
    background-color: #808080;
}
.active {
    background-color: #2e8de6 !important;
}
