body,
p,
h1,
ul {
    font-size: .853333rem;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, 'Microsoft Yahei';
    -webkit-user-select: none;
    background: #e1eaf2;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

img {
    vertical-align: top;
    border: none;
    -webkit-touch-callout: none;
}

h1,
i,
strong,
em {
    font-weight: normal;
    font-style: normal;
}


/* main */

#wrap {
    padding-top: 3.555556rem;
}

.top {
    line-height: 3.555556rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.555556rem;
    text-align: center;
    background: #2e8de6;
}

.top h1 {
    font-size: 1.137778rem;
    color: #fff;
}

.goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.417778rem;
    height: 100%;
    background: url('../images/back.png') center center no-repeat;
    background-size: auto 1.244444rem;
}

.top span {
    position: absolute;
    top: 0;
    right: 1.066667rem;
    width: 3.555556rem;
    height: 100%;
    background: url('../images/trash.png') center center no-repeat;
    background-size: .995556rem 1.244444rem;
}


/* content */

.content {
    overflow: auto;
    padding: .32rem .817778rem;
}

.list {
    overflow: hidden;
}

.list li:nth-of-type(2n+1) {
    margin-right: .426667rem;
}

.list li {
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 12.302222rem;
    margin-bottom: .355556rem;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.list li img {
    width: 100%;
}

.list strong {
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    overflow-y: hidden;
    height: 2.488889rem;
    padding: 0 .32rem;
    color: #333;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price {
    font-size: .924444rem;
    font-weight: bold;
    display: inline-block;
    margin-top: .888889rem;
    margin-left: .64rem;
    color: #e83e3e;
}

small {
    text-decoration: line-through;
    color: #b2b2b2;
}

.sum {
    font-size: .64rem;
    font-style: normal;
    position: relative;
    right: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-right: .355556rem;
    padding-bottom: .426667rem;
    text-align: right;
    color: #b2b2b2;
}


/* 记录管理 */

.tick {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.tick span {
    position: absolute;
    top: .568889rem;
    right: .568889rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.208889rem;
    height: 1.208889rem;
    border: 1px solid #fff;
    border-radius: .604444rem;
}

.tick-act {
    border: none !important;
    background: url('../images/shopping-cart/select.png') no-repeat;
    background-size: contain;
}


/* 底部删除 */

#bottom-fix {
    position: fixed;
    bottom: 0;
    display: none;
    width: 100%;
    height: 3.555556rem;
    background-color: #fff;
}

#bottom-fix li {
    font-size: 1.137778rem;
    line-height: 3.555556rem;
    width: 7.111111rem;
}

.select-all {
    position: absolute;
    float: left;
    text-align: center;
    color: #333;
}

.select-all span {
    position: absolute;
    top: 1.173333rem;
    left: .853333rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.208889rem;
    height: 1.208889rem;
    border: 1px solid #ccc;
    border-radius: 17px;
}

#bottom-fix .del,
#bottom-fix .cancel {
    line-height: 1;
    position: absolute;
    top: .746667rem;
    padding: .497778rem 0;
    text-align: center;
    border-radius: .248889rem;
}

#bottom-fix .del {
    padding: .497778rem 0;
    color: #fff;
    background-color: #fa3c3c;
}

#bottom-fix .cancel {
    padding: .462222rem 0;
    color: #333;
    border: 1px solid rgba(204, 204, 204, .5);
}

#bottom-fix .del {
    right: .853333rem;
}

#bottom-fix .cancel {
    right: 8.675556rem;
}

#placeholder {
    display: none;
    height: 3.555556rem;
}


/*弹窗*/

.wrap-sel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.mask {
    line-height: 1;
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    text-align: center;
}

.mask-tip {
    font-size: .995556rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14.222222rem;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
    border-radius: .213333rem;
    background: rgba(0, 0, 0, .75);
}

.mask p {
    font-size: .995556rem;
    clear: both;
    padding: 1.635556rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.mask-cancel,
.mask-sure {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: .888889rem 0;
}

.mask-cancel {
    border-right: 1px solid rgba(255, 255, 255, .5);
}
