body,
p,
h1,
input {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, 'Microsoft Yahei';
    font-size: .924444rem;
    -webkit-user-select: none;
    color: #333;
    background-color: #e1eaf2;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

h1 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.placeholder {
    height: 3.555556rem;
}


/* main */

#top {
    line-height: 3.555556rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.555556rem;
    text-align: center;
    background: #2e8de6;
}

#top h1 {
    font-size: 1.137778rem;
    color: #fff;
}

#goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.417778rem;
    height: 100%;
    background: url('../images/back.png') no-repeat center;
    background-size: auto 1.244444rem;
}

#never,
#done {
    line-height: 1.422222rem;
    height: 4.195556rem;
    padding-top: .782222rem;
    padding-left: 1.244444rem;
    color: #fff;
}

#never {
    background-color: #fa3c3c;
}

#done {
    background-color: #fa9632;
}

a:not(#goback) {
    font-size: .995556rem;
    line-height: 2.133333rem;
    position: relative;
    display: block;
    margin-top: .711111rem;
    padding-left: .853333rem;
    background-color: #fff;
}

img {
    position: absolute;
    top: .426667rem;
    right: .853333rem;
    width: .711111rem;
    vertical-align: middle;
    border: none;
}
