body {
    font-family: Arial, 'Microsoft Yahei';
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

body,
p,
ul,
h1 {
    margin: 0;
    padding: 0;
}

h1,
strong,
i {
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

img {
    vertical-align: top;
    border: none;
    -webkit-touch-callout: none;
}


/* content */

#top-fix {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.555556rem;
    text-align: center;
    background-color: #dd2727;
}

#goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.417778rem;
    height: 100%;
    background: url('../images/back.png') no-repeat center;
    background-size: auto 1.244444rem;
}

#top-fix h1 {
    font-size: 1.137778rem;
    line-height: 3.555556rem;
    color: #fefefe;
}

#top-fix a {
    font-size: 1.137778rem;
    line-height: 3.555556rem;
    position: absolute;
    top: 0;
    right: .853333rem;
    color: #fefefe;
}

#content {
    margin-top: 3.555556rem;
}

.list li {
    position: relative;
    width: 24.96rem;
    height: 5.688889rem;
    padding: 0 .853333rem;
    border-bottom: 1px solid #ccc;
}

.list strong {
    font-size: .995556rem;
    display: inline-block;
    overflow: hidden;
    width: 15.715556rem;
    margin-top: 1.137778rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.list p {
    font-size: .924444rem;
    margin-top: .782222rem;
    color: #333;
}

.list i {
    display: inline-block;
    width: 1.244444rem;
    height: 1.457778rem;
    margin-right: .284444rem;
    vertical-align: bottom;
    background: url('../images/red_pakets.gif') no-repeat;
    background-size: contain;
}

.list span {
    font-size: .782222rem;
    position: absolute;
    top: 1.351111rem;
    right: .853333rem;
    color: #808080;
}
